<h1>Dashboard</h1>
<div>
  <%= link_to('Exit',root_path)%>
  <p class='status'></p>
</div>
<%= form_tag(dashboard_index_path, method: "get") do %>
  <%= text_field_tag(:search_term,params[:search_term]) %>
  <%= submit_tag("Search") %>
<% end %>
<div class="play_div">
  <iframe class="player" src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:<%=@trackset%>" width="640" height="720" frameborder="0" allowtransparency="true">
  </iframe>
</div>
